<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fittr">

    <!-- Required for 28 and below. -->
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <!-- Required for 29+. -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>




    <application
        android:allowBackup="true"
        android:icon="@drawable/cyclist"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cyclist"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fittr">
        <activity
            android:name=".authentication.Register"
            android:exported="false" />
        <activity
            android:name=".authentication.Login"
            android:exported="false" />
        <activity
            android:label="@string/app_name"
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.DetectionsService"
            android:permission="com.google.android.gms.permission.ACTIVITY_RECOGNITION">
        </service>

        <receiver
            android:name=".broadcastreciever.DetectionsReciever"
            android:exported="false"
            android:permission="com.google.android.gms.permission.ACTIVITY_RECOGNITION">
        </receiver>
    </application>

</manifest>